<h1>Create a New Event</h1>

<%= form_with model: @event, local: true do |f| %>
  <% if @event.errors.any? %>
    <div class="errors">
      <h3><%= pluralize(@event.errors.count, "error") %> prevented this event from being saved:</h3>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>

  <div>
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>

  <div>
    <%= f.submit "Create Event" %>
  </div>
<% end %>
